body{
    background-color: beige;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    width: 400px; /* ancho máximo para escritorio */
    max-width: 95%; /* asegura que no se pase del 95% en móvil */
    margin: 20px auto;
    padding: 20px;
    
}
.row{
  
    display: flex;
    align-items: center;

    
    

    
}
.row label{
    
    padding: 15px;
    font-size: 16px;
}
.fancy-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 220px;
    background-color: #fff;
}

.fancy-input input {
    border: none;
    outline: none;
    padding: 8px;
    width: 180px;
    font-size: 16px;
}

.fancy-input span {
    padding: 8px;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #555;
}

.rowButton{
 
    padding: 20px;

    

}
button{
    background-color: rgba(165, 170, 169, 0.872);
    width: 150px;
    font-size: 16px;
    height: 30px;
    border: 1px solid #ccc;
    color: azure;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
button:hover {
    background-color: rgba(140, 145, 144, 0.9);
}  
button:active {
    transform: translateY(2px); /* simula que se hunde */
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
    .container {
        width: 90%; /* casi todo el ancho de la pantalla */
        padding: 15px;
        
    }

    .fancy-input {
        width: 100%; /* ocupa todo el ancho del contenedor */
        background-color: aqua;
    }

    .fancy-input input {
        width: 100%; /* input ocupa todo el ancho del fancy-input */
        
    }

    button {
        width: 100%; /* botón ocupa todo el ancho del contenedor */
        height: 50px; /* más alto para ser más fácil de tocar */
        font-size: 18px; /* letra más grande */
    }

    .row label {
        padding: 10px 5px; /* ajusta el espacio de las etiquetas */
        font-size: 16px; /* etiqueta más grande */
    }

    .row {
        
        
        width:90%;
        justify-content: center;
    }

    .row2 {
        flex-direction: column; /* apila elementos en lugar de horizontal */
        align-items: stretch;
        
        width: 80%;
    }
    .rowButton {
        padding: 15px 0; /* espacio entre filas */
        width: 80%;
    }
}